version: '3'
services:
  php7:
    build:
      context: .
      dockerfile: Dockerfile.php7
    env_file: .env
    container_name: digital_myskul_in_7
    ports:
      - "8080:80"
    environment:
      XDEBUG_MODE: "develop, debug, profile"
      XDEBUG_CONFIG: client_host=host.docker.internal
    volumes:
      # - ./:/var/www/html
      - my_session_data:/var/www/html/application/sessions
      - C:\php8.digital.myskul.in:/var/www/html/php8.digital.myskul.in
      - ./custom_apache.conf:/etc/apache2/sites-available/000-default.conf
      - ./php.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    networks:
      - my_network

  php8:
    build:
      context: .
      dockerfile: Dockerfile.php8
    env_file: .env
    container_name: digital_myskul_in_8
    ports:
      - "8081:80"
    volumes:
      # - ./:/var/www/html   # Mount your codebase into the container
      - my_session_data:/var/www/html/application/sessions
      - C:\php8.digital.myskul.in:/var/www/html/php8.digital.myskul.in
      - ./custom_apache.conf:/etc/apache2/sites-available/000-default.conf
    networks:
      - my_network

  nginx:
    image: nginx:latest
    container_name: nginx_reverse_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - my_network
    depends_on:
      - php7
      - php8

networks:
  my_network:
volumes:
  my_session_data:  # Define the Docker volume for session data
